body {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body ::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1b1b32;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#description {
    text-align: center;
}
form {
    background-color: rgba(27, 27, 50, 0.8);
    margin: 3% 15% 0;
    padding: 2% 3% 4%;
    font-size: 20px;
    z-index: 1;
}
label {
    display: block;
}
input {
    display: inline-block;
}
#name, #email, #number, #dropdown, #dropdown-one, textarea {
    display: block;
    width: 100%;
}
#name,
#email,
#number {
    height: 30px;
    margin-top: 10px;
}
#dropdown, #dropdown-one {
    height: 40px;
    margin-top: 10px;
}
textarea {
    height: 120px;
}
textarea::placeholder {
    font-size: 15px;
}
#submit {
    margin: 30px 0px 40px;
    width: 100%;
    height: 40px;
    background-color: #37af65;
    border-style: none;
    color: white;
    font-size: 1rem;
}
#name-label,
#email-label,
#number-label,
#dropdown-label,
#recommend-title,
#dropdown-one-label,
#chechkbox-options-label,
#text-area  {
    margin-top: 30px;
}
#recommend-title, 
#chechkbox-options-label,
#text-area {
    margin-bottom: 5px;
}
input[type='radio'] {
    margin-top: 10px;
}
#chechkbox-options {
    margin-top: 5px;
}